body{
    background-color: #0f1c46;
    font-family: sans-serif;
}

.contenedor-tareas{
    background-color: #fff;
    width: 450px;
    min-height: 400px;
}

.input-tarea{
    width: 100%;
    height: 70px;
    font-size: 2rem;
    
}

.listado-tareas{
    list-style: none;
    padding: 0;
    margin: 0;
}

.cruz{
    color: #fff;
}
.listado-tareas:hover .cruz{
    color: red;
    cursor: pointer;
}